@import '@/components/mixins.scss';

.item {
  position: relative;
  padding-left: rem(55);
  padding-bottom: rem(6);
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: rem(36);
  color: $gray-5;
}

.title {
  font-weight: bold;
}

.line {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background: $gray-2;
}

.ant_input_number_big {
  padding: 4px 11px !important;
  border: 0 !important;
  border-bottom: 1px solid #e4e9f0 !important;
  font-size: 20px !important;
  border-radius: 0 !important;
}
.table_row_light {
  background-color: #fff !important;
}
.table_row_dark {
  background-color: #fbfbfb !important;
}
.table_40 {
  width: 40% !important;
  margin: 0 auto !important;
  @media (max-width: 700px) {
    width: 100% !important;
  }
}